CREATE DATABASE QLCV

DROP DATABASE QLCV

USE QLCV


--TÀI KHOẢN
--DROP TABLE ACC

CREATE TABLE ACC(
	USERNAME NVARCHAR(50) PRIMARY KEY,
	PASS NVARCHAR(50),
	UNAME NVARCHAR(50),
	SEX NVARCHAR(3),
	UTYPE INT,	--	1 ADMIN		2 NORMAL
)

--select * from acc


CREATE TABLE SUKIEN
(
	MAHOP INT PRIMARY KEY,
	THOIGIAN DATE,
	TENSK NVARCHAR(MAX),
	DIADIEM NVARCHAR(MAX),
	NGUOIDU NVARCHAR(MAX),
	PHUONGTIEN NVARCHAR(MAX),
)


--KHO LƯU TRỮ
--VĂN BẢN SAU KHI GIẢI QUYẾT XONG 1 THỜI GIAN SẼ ĐƯỢC PHÂN LOẠI VÀ LƯU TRỮ VÀO KHO

CREATE TABLE HOP
(
	SO INT IDENTITY(1,1),
	LOAI NVARCHAR(400),
	SOVB INT DEFAULT(0),	--ĐỂ BIẾT TRONG HỘP CÓ BAO NHIÊU VĂN BẢN VÀ DỰA VÀO ĐÂY ĐÁNH SỐ THỨ TỰ VĂN BẢN ĐƯỢC LƯU TRONG HỘP ĐỂ DỄ TÌM
	--KHI CÓ 1 VĂN BẢN ĐC LƯU VÀO HỘP SỐ N TĂNG LÊN 1 ĐỒNG THỜI CONGVAN KIA SẼ ĐƯỢC GÁN STTHOP = SOVB TRONG HOP
	PRIMARY KEY(SO),
)	


--VĂN BẢN ĐI

CREATE TABLE CQSOANTHAO
(
	TENCQ NVARCHAR(100) PRIMARY KEY,
)

CREATE TABLE THELOAIVBDI
(
	NAM INT,
	MATL NVARCHAR(20) PRIMARY KEY,	--VD: 10/PTM-BTH
	TENTL NVARCHAR(100),
	SO INT DEFAULT(0),	
)

CREATE TABLE VANBANDI
(
	NAM INT,
	MATL NVARCHAR(20) REFERENCES THELOAIVBDI(MATL),
	SOVB INT,	--SỐ THỨ TỰ VĂN BẢN MÀ CƠ QUAN ĐÓ PHÁT HÀNH TRONG NĂM, VÍ DỤ VĂN BẢN THỨ 10 CỦA PHÒNG THAM MƯU TRONG NĂM 2017
	MAVB NVARCHAR(20),	--VD: [STT]/PTM-BTH	
	NGAYPH DATE,
	
	DOMAT NVARCHAR(20),
	DOKHAN NVARCHAR(20),
	TRICHYEU NVARCHAR(MAX),
	PHEDUYET NVARCHAR(MAX),
	NGUOIKY NVARCHAR(40),
	SOBAN INT,
	SOTO INT,	
	NOINHAN NVARCHAR(MAX),
	CQSOANTHAO NVARCHAR(250),
	YKIENCD NVARCHAR(MAX),

	SOHOP INT REFERENCES HOP(SO),		--KHI NÀO GIẢI QUYẾT XONG, THƯỜNG CUỐI NĂM MỚI LƯU KHO, BỎ HỘP, KHI ĐÓ MỚI CẬP NHẬT
	STTHOP INT,		--SỐ THỨ TỰ TRONG HỘP ĐƯỢC LƯU

	GHICHU NVARCHAR(MAX),
	NGUOINHAP NVARCHAR(MAX),

	PRIMARY KEY (NAM,MATL,SOVB),
)




--VĂN BẢN ĐẾN
--drop TABLE THELOAIVBDEN

CREATE TABLE THELOAIVBDEN
(
	NAM INT,
	MATL NVARCHAR(10) PRIMARY KEY,	--VD: H, XH, D, TM,...
	TENTL NVARCHAR(60),				--VD: HÀNH CHÍNH QUÂN SỰ, CÁC TỔ CHỨC CHÍNH TRỊ, XÃ HỘI, ĐẢNG, THƯ MỜI,...
	SO INT DEFAULT(0),			
)

CREATE TABLE VANBANDEN
(
	NAM INT,
	MATL NVARCHAR(10) REFERENCES THELOAIVBDEN(MATL),
	SODEN INT,

	CQBANHANH NVARCHAR(150),

	SOVB NVARCHAR(20),	--VD: 10/PTM-BTH
	NGAYDEN DATE,	
	NGAYPH DATE,

	DOMAT NVARCHAR(20),
	DOKHAN NVARCHAR(20),
	TRICHYEU NVARCHAR(MAX),
	PHEDUYET NVARCHAR(MAX),
	NGUOIKY NVARCHAR(60),
	SOBAN INT,
	SOTO INT,
	NOINHAN NVARCHAR(MAX),
	YKIENCD NVARCHAR(MAX),
	HIENDANGO NVARCHAR(MAX),

	SOHOP INT REFERENCES HOP(SO),
	STTHOP INT,		--SỐ THỨ TỰ TRONG HỘP ĐƯỢC LƯU

	GHICHU NVARCHAR(MAX),
	NGUOINHAP NVARCHAR(MAX), 	--NGƯỜI NHẬP

	PRIMARY KEY (NAM,MATL,SODEN),
)