use QLCV

CREATE TRIGGER NHAPCVDI_1 ON VANBANDI
FOR INSERT
AS
BEGIN
	UPDATE THELOAIVBDI
	SET SO = SO+1
	WHERE MATL = (SELECT MATL FROM inserted) AND NAM = (SELECT NAM FROM inserted)
END


CREATE TRIGGER NHAPCVDEN_1 ON VANBANDEN
FOR INSERT
AS
BEGIN
	UPDATE THELOAIVBDI
	SET SO = SO+1
	WHERE MATL = (SELECT MATL FROM inserted) AND NAM = (SELECT NAM FROM inserted)
END

